[submodule "documentation/Signal-Modulation-and-Demodulation/documentation"]
	path = documentation/Signal-Modulation-and-Demodulation/documentation
	url = https://github.com/dem1995/Signal-Modulation-and-Demodulation-Writeup--LaTeX-
